# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Virtual Environment
venv/
.venv/
env/

# Distribution
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Environment variables
.env